#certificados{
    padding-top: 90px;
    padding-bottom: 90px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}

.grup-cert{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 80px;
}

.area-certificados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.area-titulo-hab{
    display: flex;
    width: 78%;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.cisco-icon{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.txt-hab{
    color: white;
    font-size: 40px;
    font-weight: 530;
}

.cisco{
    width: 65%;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid white;
    background-color: rgb(180, 179, 179) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px;
}

.btn-certificado{
    height: 300px;
}

.certificado{
    border-radius: 6px;
    padding: 8px;
    border: 1px solid white; 
    height: 200px;
}

.senac{
    width: 65%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(180, 179, 179) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 50px;
}

.senac-icon{
    height: 100px;
    width: 100px;
}

.senac p{
    font-size: 25px;
    color: #585858;
}

.cebrac{
    width: 65%;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(180, 179, 179) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 50px;
}

.cebrac-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.cebrac p{
    font-size: 25px;
    color: #585858;
}