@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(menu.css);
@import url(home.css);
@import url(sobre-mim.css);
@import url(projetos.css);
@import url(habilidades.css);
@import url(certificados.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    position: relative;

}



.titulo{
    border-left: 12px solid white;
    padding-left: 2%;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

main{
    height: 100%;
    background-color: rgb(27, 26, 26);
}

.esconder{
    opacity: 0;
    transform: translateY(30px);
}

*{
animation: fadeIn 1s ease-out;
opacity: 1;
transform: translateY(0);
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (max-width: 900px) {
    .area-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-bar{
        display: none;
    }

    #home{
        height: 896px;
    }

    .area-img{
        display: none;
    }
    
    .home-texto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .area-p{
        font-size: 1rem;
        width: 90%;
        padding: 5px;
    }

    .card-projeto{
        height: 50%;
        width: 85%;
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projetos-txt{
        opacity: 1;
    }

    .link-proj{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-projeto{
        background-color: transparent;
    }

    .card-projeto:hover{
        background-color: transparent;
    }

    .Proj-img{
        border: 3px solid white;
    }
       
    .card-projeto p{
        opacity: 1;
        background-color: transparent;
        border: 2px solid white;
        margin-top: 12px;
        font-size: 1.2rem;
        padding: 12px;
        width: 90%;
        height: 30%;
        border-radius: 20px;    
        color: white;    
    }

    
    .LandPag-img{
        height: 100%;
        width: 97%;
    }

    .projetos-txt{
        opacity: 1;
    }

    .Pi-img{
        height: 100%;
        width: 97%;
    }

    .rolar{
        margin-top: 50px;
        font-size: 21px;
        display: flex;
        color: rgb(104, 104, 104);
    }

    .cisco{
        border-radius: 20px;
        width: 65vw;
    }
}