@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

section{
    margin-top: 60px;
    margin-bottom: 130px;
}

.menu{
    width: 100%;
    height: 90px;
    background-color: rgb(23, 22, 22);
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    position: sticky;
    top: 0;

}

.nav-list{
    gap: 25px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 30px;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #f0f0f0;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover{
    border: 0.8px solid white;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
}

.area-logo{
    height: 150px;
    width: 150px;
}

.icone-lateral{
    height: 100%;
    width: 100%;
}

.btn-header{
    width: 150px;
    height: 40px;
    background-color: rgb(53, 222, 53);
    color: white;
    border-radius: 10px;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

main{
    height: 100%;
    width: 99vw;
    background-color: rgb(27, 26, 26);
}

#home{
    background-color: rgb(27, 26, 26);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.nome{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 11px;
}

.nome-texto{
    text-transform: lowercase;
    font-size: 40px;
    color: white;
}

.maeda{
    color: lime;
}

.area-img{
    margin-top: 60px;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid lime;
    border-radius: 50%;
}

.minha-img{
    height: 100%;
    width: 60%;

}

#sobre-mim{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.area-p{
    border: 3px solid white;
    margin-left: 100px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 30px;
    margin-bottom: 30px;
}

.txt-sbm{
    color: white;
    text-align: center;
}

.inferior{
    background-color: rgb(23, 22, 22);
    width: 100%;
    height: 90px;
    border-top: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.redes-sociais{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btn-inferior{
    border: none;
    background-color: transparent;
}

.btn-inferior i{
    font-size: 23px;
    color: white;
}

.btn-inferior:hover{
    cursor: pointer;
}

.copyright{
    color: white;
    font-size: 12px;
}

.area-ft{
    height: 200px;
    width: 230px;
}

.ft{
    width: 100%;
    height: 100%;
}

#projetos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 580px;
    width: 100%;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.area-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    height: 400px;
    width: 480px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.LandPag-img{
    border-radius: 9px;
    width: 450px;
    border: 3px solid black;
    height: 250px;
}

.landP{
    margin-bottom: 18px;
}

.Pi-img{
    width: 450px;
    height: 250px;
    border: 3px solid black;
    border-radius: 9px;
}

.projetos-txt{
    font-size: 18px;
    text-align: center;
}

.Pi-txt{
    color: rgb(57, 236, 57);
}

.cisco{
    height: 500px;
    width: 100%;
    background-color: white;
}